GITHUB_URL=https://raw.githubusercontent.com/
REWARDS_PROOF_FILE=lidofinance/csm-rewards/refs/heads/mainnet/proofs.json
# The address of the contract to interact with from
# https://github.com/lidofinance/community-staking-module/blob/develop/artifacts/mainnet/deploy-mainnet.json#L2
CSACCOUNTING_CONTRACT_ADDRESS=0x4d72BFF1BeaC69925F8Bd12526a39BAAb069e5Da